/********* N O S O T R O S *********/
.WhoM {
    background-color: black;
    max-width: 1130px;
    padding: 15px;
}

.WhoM p{
    text-align: center;
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e8e8e8;
}