body {
    background-image: url(/Img/desktop-wallpaper-yingyang-wolves-in-2021.jpg);
}

/********* H E A D E R *********/
.header {
    height: 200px;
    background-image: url(/Img/inicio.jpg);
}

.header h1 {
    font-family: Impact;
    font-size: 58px;
    color: white;
    text-align: center;
    padding: 5px;
    letter-spacing: 10px;
    line-height: 330%;
    text-shadow: 1px 1px 2px black;
}

/********* P R O X I M O S S H O W S *********/

.Shows {
    padding: 10px;
    background-image: url(/Img/_Desktop.jpg);
    background-repeat: no-repeat; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 5px;
    color:rgba(240, 248, 255, 0.664);
}

.Shows h1 {
    font-family: Impact;
    font-size: 38px;
    border-bottom: dotted 2px white;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    line-height: 230%;
    text-shadow: 1px 1px 2px black;
}

.Shows ol {font-family: Arial, Helvetica, sans-serif;}

/********* T O U R B O X *********/

#TourB {
    max-width: 900px;
    height: 200px;
    background-image: url(/Img/534344-linkin-park.jpg);
    background-position: 50% 50%;;
    border: inset 5px black;
}

.TourC {
    max-width:445px;
    background-color: rgba(255, 255, 255, 0.411);
    text-align: justify;
    letter-spacing: 2px;
    padding: 5px;
    text-shadow: 1px 1px 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
}
.TourC h2 {
    max-width: 445px;
    text-transform: uppercase;
    text-shadow:1px 1px 2px #afabab;
    padding: 2px;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: dashed 1px black;
}

.TourC li {
    max-width: 445px;
    text-align:justify;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 1px 2px black;
    font-weight: 400;
} 

/********* F O O T E R *********/
footer {
    border-top: 30px solid rgb(192, 192, 192);
    height: auto;
    background-image: url(../Img/fcover_0.jpg);
    color:#e8e8e8;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align:center;
    font-size: 10px;
}

footer img {
    width: 20%;
    height: auto;
}

footer a {
    text-align: right;
    letter-spacing: 2px;
    color:#e8e8e8;
    font-size: 30px;
    transition: 1s;
}

footer a:hover {
    color:#0d6efd;
    transition: 1s;
}